*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Raleway", sans-serif;
    background-color: #27384af0;
}

nav{
    background-color: rgba(24, 3, 41, 0.801);
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 8vh;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
    letter-spacing: 3px;
}



a{
    color: #eceeeeab;
    text-decoration: none;
}